html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 970px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid #000;
  background: #fff;
  background-size: cover; }
  #mainContent div, #mainContent img {
    position: absolute; }

#baloon {
  position: absolute;
  top: -84px;
  left: -50px;
  opacity: 0; }

.st0 {
  visibility: hidden; }
