@import '_settings';
@import '_config';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid $black;
    background: $white ;
    
    background-size:cover;
    div,img{
        position: absolute;
    }
}
#baloon{
    position:absolute;
    top:-84px;
    left:-50px;
    opacity:0;
}
.st0{
    visibility: hidden;
}